    <header class="header">
        <div class="header-wrap">
            <div class="container header-bar">
                <a href="#" class="header-logo link">
                    <svg class="logo-icon" width="100" height="16">
                        <use href="../images/icons/symbol-defs.svg#icon-logo"></use>
                    </svg>
                </a>
                    <button type="button" class="menu-burger-button js-open-menu js-close-menu " id="mеnuButton" >
                        <svg class="burger-icon" width="24" height="24">
                            <use href="../images/icons/symbol-defs.svg#icon-align-justify"></use>
                        </svg>
                    </button>
                    <!-- <button type="button" class="menu-close-button js-close-menu  ">
                        <svg class="close-icon" width="24" height="24">
                            <use href="../images/icons/symbol-defs.svg#icon-close"></use>
                        </svg>
                    </button> -->
                    <nav class="header-menu js-menu-container">
                        <ul class="nav-list list">
                                <li class="nav-item">
                                    <a href="#about" class="nav-link link">About us</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#products" class="nav-link link">Our products</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#price" class="nav-link link">Prices</a>
                                </li>
                                <li class="nav-item">
                                    <a href=".#bestsellers" class="nav-link link">Bestsellers</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#clients" class="nav-link link">Reviews</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#footer" class="nav-link link">Contacts</a>
                                </li>
                            </ul>
                    </nav>
            </div>
        </div>
    </header>