    <header>
        <div class="header-wrap">
            <div class="container header-bar">
                <nav class="header-menu">
                    <a href="#" class="header-logo link">
                        <svg class="logo-icon" width="100" height="16">
                            <use href="../images/icons/symbol-defs.svg#icon-logo"></use>
                        </svg>
                    </a>
                    <div class="list">
                        <ul class="nav-list list">
                            <li class="nav-item">
                                <a href="" class="link">About us</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="link">Our products</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="link">Prices</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="link">Bestsellers</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="link">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="link">Contacts</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="mob-menu">
                    <button type="button" class="menu-burger-button js-open-menu">
                        <svg class="burger-icon" width="24" height="24">
                            <use href="../images/icons/symbol-defs.svg#icon-ph_instagram-logo"></use>
                        </svg>
                    </button>
                    <div class="mob-menu-container js-menu-container">
                        <div class="topbar">
                            <a href="#" class="header-logo link">
                                <svg class="logo-icon" width="100" height="16">
                                    <use href="../images/icons/symbol-defs.svg#icon-logo"></use>
                                </svg>
                            </a>
                            <button type="button" class="menu-close-button js-close-menu">
                                <svg class="close-icon" width="24" height="24">
                                    <use href="../images/icons/symbol-defs.svg#icon-close"></use>
                                </svg>
                            </button>
                            <ul class="mob-nav-list list">
                                <li class="nav-item">
                                    <a href="" class="mob-link link">About us</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="mob-link link">Our products</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="mob-link link">Prices</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="mob-link link">Bestsellers</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="mob-link link">Reviews</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="mob-link link">Contacts</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>