.about-section {
  background-color: var(--light-blue);
}

.about-container {
  width: 100vw;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

.about-content {
  padding: 64px 0px;
}

.about-title {
  position: relative;
  padding-left: 50px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.about-title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 11.5px;
  width: 30px;
  height: 1px;
  background-color: var(--primary-color);
}

.about-subtitle {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.5;
  text-transform: uppercase;
}

.about-description {
  margin-bottom: 30px;
  line-height: 1.5;
}

.about-item {
  width: 170px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
}

.about-item:not(:last-child) {
  margin-bottom: 30px;
}

.about-item-achiv {
  margin-bottom: 14px;
  font-size: 50px;
  text-transform: uppercase;
}

.about-img {
  width: 100vw;
  max-width: 375px;
  margin: 0 auto;
  transform: translateX(-16px);
}

@media screen and (min-width: 768px) {
  .about-section {
    background-color: #fff;
  }

  .about-container {
    width: 100%;
    max-width: 768px;
    padding: 0 32px;
  }

  .about-content {
    padding: 36px 64px;
    margin-bottom: 30px;
    background-color: var(--light-blue);
  }

  .about-subtitle {
    font-size: 32px;
    line-height: 1.41;
  }

  .about-description {
    font-size: 18px;
  }

  .about-list {
    display: flex;
    justify-content: space-between;
  }

  .about-item {
    margin: 0;
  }

  .about-item:not(:last-child) {
    margin-bottom: 0;
  }

  .about-item-sketch {
    font-size: 18px;
  }

  .about-img {
    width: 100%;
    max-width: 704px;
    transform: translateX(0);
  }
}

@media screen and (min-width: 1440px) {
  .about-container {
    max-width: 1440px;
    padding: 0 60px;
  }

  .about-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about-content {
    max-width: 760px;
    padding: 35px 69px;
    margin: 0 24px 0 0;
  }

  .about-item-achiv {
    height: 69px;
    margin-bottom: 23px;
  }

  .about-img {
    width: 536px;
  }
}
